window-rule {
    match app-id="steam" title="^notificationtoasts"
    open-focused false
    default-floating-position x=8 y=8 relative-to="bottom-right"
}

window-rule {
    match app-id="^firefox"
    match app-id=r#"^dev\.zed\.Zed$"#
    match app-id="^jetbrains-idea$"
    match app-id=r#"^com\.ayugram\.desktop$"#
    match app-id="^kitty$"
    match app-id=r#"^com\.discordapp\.Discord$"#
    match app-id=r#"^com\.modrinth\.ModrinthApp$"#
    match app-id="^steam$"
    match app-id="^spotify$"
    open-maximized true
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    match app-id="^(?i)vlc"
    match app-id="^(?i)mpv"
    geometry-corner-radius 0
    clip-to-geometry false
}

window-rule {
    match title="(?i)picture.in.picture"
    match title="(?i)картинка в картинке"
    open-floating true
    default-column-width { fixed 480; }
    default-window-height { fixed 270; }
    default-floating-position x=20 y=20 relative-to="bottom-right"
}
