window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
    draw-border-with-background false

    background-effect {
        blur true
        xray true
    }

    popups {
        background-effect {
            blur true
            xray false
        }
    }
}

window-rule {
    match app-id="^(?i)vlc"
    match app-id="^(?i)mpv"
    geometry-corner-radius 0
    clip-to-geometry false
}

window-rule {
    match app-id="^jetbrains-idea$"
    match app-id="^kitty$"
    open-maximized true
}

window-rule {
    match app-id="steam" title="^notificationtoasts"
    open-focused false
    open-floating true
    default-floating-position x=8 y=8 relative-to="bottom-right"
    geometry-corner-radius 0

    border {
        off
    }

    focus-ring {
        off
    }
}

window-rule {
    match title="(?i)picture.in.picture"
    match title="(?i)картинка в картинке"
    open-maximized false
    open-floating true
    default-column-width { fixed 480; }
    default-window-height { fixed 270; }
    default-floating-position x=20 y=20 relative-to="bottom-right"
}
